<app-loading *ngIf="loading"></app-loading>
<ng-container *ngIf="!loading">
  <div class="danger" *ngIf="error">{{error}}</div>
  <ng-container *ngIf="!error">
    <div class="signature-container" *ngIf="!signatureImg">
      <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                     (onEndEvent)="drawComplete()"></signature-pad>
    </div>

    <div class="buttons" *ngIf="!signatureImg">
      <button (click)="clearSignature()">Reset</button>
      <button (click)="savePad()">Opslaan</button>
    </div>

    <div class="signature-image" *ngIf="signatureImg">
      <img src='{{ signatureImg }}'/>
    </div>
  </ng-container>
</ng-container>
